.danger {
	color: red;
}

#messages {
  border:1px grey solid;
  padding-top:10px;	
  padding-left:8px;
  margin-bottom:10px;
}
#messages ul {
  list-style-image:none;
  list-style-type:square;	
}

h1 {
	margin-bottom: 0.5em;
	font-variant:small-caps;
}

h2 {
	margin-bottom: 1.3em;
}

#main_left{
	margin-bottom: 2em;
}